/* --rose-water: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext-1: #b8c0e0;
  --subtext-0: #a5adcb;
  --overlay-2: #939ab7;
  --overlay-1: #8087a2;
  --overlay-0: #6e738d;
  --surface-2: #5b6078;
  --surface-1: #494d64;
  --surface-0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926; */

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 1rem;
}

window#waybar {
  background: transparent;
  color: #cad3f5;
}

#workspaces button {
  padding: 0 5px;
  border-radius: 6px;
  background: transparent;
  color: #a5adcb;
}

#workspaces button.active {
  background: rgba(91, 96, 120, 0.5);
}

#workspaces button:not(.empty) {
  color: #cad3f5;
}

.modules-center {
  padding: 0 8px 0 12px;
  background-color: rgba(91, 96, 120, 0.4);
  border-radius: 6px;
}

.modules-center * {
  background: transparent;
}

#custom-notification {
  padding: 0 4px;
}

#battery {
  color: #cad3f5;
}

#battery.critical:not(.charging) {
  color: #ed8796;
}

#custom-media {
  color: #a6da95;
}

#network {
  background-color: rgba(91, 96, 120, 0.5);
  padding: 0 8px;
  border-radius: 6px;
}

#network * {
  background-color: transparent;
  padding: 0 2px;
}

#custom-ethernet_status {
  padding: 0 6px 0 0;
}

#pulseaudio {
  padding: 0 8px;
  background: rgba(91, 96, 120, 0.5);
  border-radius: 6px;
}

#pulseaudio.vol {
  margin: 0 6px 0 0;
  border-radius: 0 4px 4px 0;
}

#pulseaudio-slider {
  margin: 0;
  padding: 0 0 0 12px;
  background: rgba(91, 96, 120, 0.5);
  border-radius: 4px 0 0 4px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  background: transparent;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 100px;
  border-radius: 6px;
  background-color: rgba(24, 25, 38, 0.4);
}
#pulseaudio-slider highlight {
  min-width: 8px;
  min-height: 8px;
  border-radius: 6px;
  background-color: #cad3f5;
}

#battery {
  padding: 0 6px;
  background-color: rgba(91, 96, 120, 0.5);
  border-radius: 6px;
}

#custom-power {
  padding: 0 6px;
  background-color: rgba(91, 96, 120, 0.5);
  border-radius: 6px;
}
