@import "./colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 1rem;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

#workspaces button {
  padding: 0 5px;
  border-radius: 6px;
  background: transparent;
  color: @muted;
}

#workspaces button.active {
  background: rgba(220, 220, 230, 0.2);
}

#workspaces button:not(.empty) {
  color: @foreground;
}

.modules-center {
  padding: 0 8px 0 12px;
  background-color: rgba(220, 220, 230, 0.2);
  border-radius: 6px;
}

.modules-center * {
  background: transparent;
}

#custom-notification {
  padding: 0 4px;
}

#tray {
  padding: 0 8px;
  background-color: rgba(220, 220, 230, 0.2);
  border-radius: 6px;
}

#battery {
  color: @foreground;
}

#battery.critical:not(.charging) {
  color: #ed8796;
}

#custom-media {
  color: #a6da95;
}

#network {
  background-color: rgba(220, 220, 230, 0.2);
  padding: 0 8px;
  border-radius: 6px;
}

#network * {
  background-color: transparent;
  padding: 0 2px;
}

#custom-ethernet_status {
  padding: 0 6px 0 0;
}

#pulseaudio {
  padding: 0 8px;
  background: rgba(220, 220, 230, 0.2);
  border-radius: 6px;
}

#pulseaudio.vol {
  margin: 0 6px 0 0;
  border-radius: 0 4px 4px 0;
}

#pulseaudio-slider {
  margin: 0;
  padding: 0 0 0 12px;
  background: rgba(220, 220, 230, 0.2);
  border-radius: 4px 0 0 4px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  background: transparent;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 100px;
  border-radius: 6px;
  background-color: rgba(220, 220, 230, 0.2);
}
#pulseaudio-slider highlight {
  min-width: 8px;
  min-height: 8px;
  border-radius: 6px;
  background-color: @foreground;
}

#battery {
  padding: 0 6px;
  background-color: rgba(220, 220, 230, 0.2);
  border-radius: 6px;
}

#custom-power {
  padding: 0 6px;
  background-color: rgba(220, 220, 230, 0.2);
  border-radius: 6px;
}
